#h1{
    color: rgb(171, 35, 28);
}
/* comment add to css */
#div1{
    color: silver;
}
p{
    color: gold;
}
.speacial_heding{
    color: rgb(215, 143, 143);
}
#f1{
    color: blueviolet;
}
s2{
    color:bisque;
}
